#discussion-container {
  background-color: #2c2f33;
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}

#discussion-card {
  padding: 10px 0 10px 0;
  height: 100vh;
  display: flex;
  margin: 0 10px 0 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: auto;
  justify-content: center;
}

@media (max-width: 500px) {
  #discussion-card {
    height: 92vh;
  }
}
